@page "/blm"

<div class="content-body blm-body">
    <DisplayHeading Size="DisplayHeadingSize.Is3" Class="text-center color-grey">Black Lives Matter (too)</DisplayHeading>

    <div class="blm-text">
        <Paragraph Color="TextColor.Light" Alignment="TextAlignment.Justified">
            I want to start by saying that when I say Black Lives Matter- there is an implied “too” at the end. I am NOT saying my life matters more, or your life matters less. Just that mine is equally important and not viewed as such by unfortunately, many people.
            “All Lives Matter” is disrespectful because it negates the purposeful attention we are trying to draw to black injustice specifically. I need you to please understand that racism is not the racism they taught us in school anymore.
        </Paragraph>

        <Paragraph Color="TextColor.Light" Alignment="TextAlignment.Justified">
            Modern racism is giving black people higher interest rates or bad loans (which a bank was sued millions for doing in 2017!). It’s relators purposely not showing black people houses in nicer areas.
            It’s companies only hiring 1-5 black people for their quota and not for their merit, which is ironically racist towards whites who potentially deserved it more- spurring more division.
            It’s colleges only accepting black people to make themselves look good on paper instead of actually valuing that students strengths & potential.
            It’s enforcing laws in school that don’t allow black people to wear their natural hair because it is “unprofessional” and a “distraction” to other students.
            It’s makeup companies only having 1-3 dark foundation shades because we are a “demographic” without money & thus not worth pursuing- and then suddenly coming out with more shades once they see how successful Rihanna was when she acknowledged us.
            It’s crooked police purposely going into low income areas, scanning license plates, and purposely ticketing people they know cannot afford it, so that they will go to jail for outstanding tickets and become a part of the for-profit prison pipeline.
            It’s fashion companies & movies using damaging stereotypes of black people instead of showing how diverse and beautiful our people are, thus instilling an untrue idea of what “black people”
            are to others across the world (imagine you’re from a place with no black people- if all the movies & shows portray us a certain way, you’ll assume that must be true).
        </Paragraph>

        <Paragraph Color="TextColor.Light" Alignment="TextAlignment.Justified">
            When I first started at my old place of employment, a very nice tech company, I had a black janitor stop me one morning as I was heading up to the office, tears in his eyes.
            He gripped my shoulder; his hands frail, wrinkled- and told me how proud of me he was. How happy he was that a little black girl was working at “one of them tech companies”.
            I hugged him & told him thank you. When I tell you I ran to the bathroom and bawled my eyes out. I was so grateful, but that is a heavy burden to carry- not only was I working for me, I was working for him, for all my ancestors who didn’t have a chance.
            And when I was let go 2 months ago, it hit hard because it felt like not only did I fail me, I failed them. I realize it was not my fault, a virus hit the country and I was a part of a mass layoff.
            But do you see how race played into my emotional state, something most others wouldn’t have to deal with?
        </Paragraph>

        <Paragraph Color="TextColor.Light" Alignment="TextAlignment.Justified">
            So please, when you see Black Lives Matter, when you see protest, know that all we’re asking for is change. Yes we have civil rights, but why are you scoffing at us asking for more? Why are we expected to accept the bare minimum?
            As a kid (mind you I was born in 1996) I was given the talk that my skin means I have to conduct myself a certain way, in certain environments, for my own safety. That people will fear me for simply having too much melanin.
            That I will be black first, yourelovely second until I die. I am trying my hardest to create a future where I don’t have to give my kids that same speech, where I don’t have to pass down that generational trauma.
        </Paragraph>

        <Paragraph Color="TextColor.Light" Alignment="TextAlignment.Justified">
            If you have questions about the protesting, the movement, modern racism- ask me please! I know it can be a heated topic and the only way to change that is to have an open dialogue and educate.
            This is me offering the olive branch, me saying I am hurting and still have nothing but love in my heart. Too often we are too busy trying to share our thoughts that we don’t hear others.
        </Paragraph>
    </div>
</div>

@code {

}
