@page "/"

<div class="content-body">
    <h1>Hej mina vänner</h1>

    Här är min fina testsida :)

    <SurveyPrompt Title="How is Blazor working for you?" />

    <Heading Size="HeadingSize.Is1" TextColor="TextColor.Danger">No Dulls allowed</Heading>
</div>
